{% extends 'base.html.twig' %}

{% block title %}{{ course.name }}{% endblock %}

{% block body %}
    <h3>{{ course.name }}</h3>
    <p>
        id: {{ course.id }} <br>
        name: {{ course.name }}<br>
        isUE: {{ course.isUE }}<br>
        isOptionGroup: {{ course.isOptionGroup }}<br>
        {% if course.parent != null %}
            parent: <br>
            name: {{ course.parent.name }} <br>
            id: {{ course.parent.id }} <br>
        {% else %}
            parent: null
        {% endif %}
    </p>
{% endblock %}
