{% extends 'base.html.twig' %}

{% block body %}
    <h2>Panneau d'administration</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="header"><h3>Chiffres Clefs</h3></div>
                <div class="body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Nombre de cours</td>
                            <td>{{ nbCourses }}</td>
                        </tr>
                        <tr>
                            <td>Nombre de feedbacks</td>
                            <td>{{ nbFeedbacks }}</td>
                        </tr>
                        <tr>
                            <td>Nombre d'utilisateurs</td>
                            <td>{{ nbUsers }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="header"><h3>Commentaires à valider ({{ invalidFeedbacks|length }})</h3></div>
                <div class="body">
                    {% if invalidFeedbacks %}
                    <div class="list-group">
                        {% for feedback in invalidFeedbacks %}
                            <a href="{{ path('moderator_feedback', {'id' : feedback.id}) }}"
                               class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ feedback.title }}</h5>
                                </div>
                                <p>{{ feedback.comment }}</p>
                            </a>
                        {% endfor %}
                    </div>
                    {% else %}
                        <h4>Il n'y a pas de commentaires à valider</h4>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="header">
                    <h3>Tous les Cours
                        <button class="btn btn-success" onclick="location.href = '{{ path('admin_addCourse') }}';">
                            Ajouter
                        </button>
                    </h3>
                </div>
                <div class="body">
                    {% for course in courses %}
                        {% if course.parent == null %}
                            <div class="accordion accordion-flush">
                                {% include '_courseAccordion.html.twig' %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}