<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Feedback - {% block title %}{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.css">
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=" {{ path('home_home') }} ">Feedback</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('course_courses') }}">Liste des cours</a>
                </li>
                {% if not app.user %}
                    <li class="nav-item">
                        <a href="{{ path('security_signup') }}" class="nav-link">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('security_login') }}" class="nav-link">Connexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('security_logout') }}" class="nav-link">Déconnexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
